<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test selector</title>
</head>
<body>
<div id="firstdiv">
    <ul id="firstlul">
        <li id="firstul_li_1" class="first_ul_li">
            one
        </li>
        <li id="firstul_li_2" class="first_ul_li">
            two
        </li>
        <li id="firstul_li_3" class="first_ul_li">
            three
        </li>
    </ul>
    <ul id="secondul">
        <li id="secondul_li_1" class="secondul_li">
            one
        </li>
        <li id="secondul_li_2" class="secondul_li">
            two
        </li>
        <li id="secondul_li_3" class="secondul_li">
            three
        </li>
    </ul>


    <script src="../static/js/jquery-1.10.1.min.js" type="text/javascript" ></script>
    <script src="../static/js/selector.js" type="text/javascript" ></script>
</div>
</body>
</html>